button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    justify-self: center;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid lightgrey;
    text-transform: uppercase;
    color: grey;
    font-size: 0.8rem;
    margin: 0.5rem;
    outline: none;
}

button:hover {
    background-color: rgba(164, 151, 132, 0.5);
    color: white;
}

button:focus{
    background-color: rgba(164, 151, 132, 1);
    color: white;
}